In [2]:
import tushare as ts

In [5]:
df = ts.get_k_data("601318")

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [6]:
df = ts.get_k_data("000016",index = True)

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [7]:
df

           date     open    close     high      low      volume      code
0    2018-11-21  2425.72  2451.27  2454.46  2425.23  21904534.0  sh000016
1    2018-11-22  2455.77  2437.64  2456.91  2426.12  16424828.0  sh000016
2    2018-11-23  2433.53  2399.20  2441.32  2398.73  21219889.0  sh000016
3    2018-11-26  2409.47  2401.90  2423.46  2393.98  16215339.0  sh000016
4    2018-11-27  2407.23  2394.29  2416.44  2387.93  14968936.0  sh000016
..          ...      ...      ...      ...      ...         ...       ...
635  2021-07-05  3402.11  3404.79  3415.56  3376.84  30926793.0  sh000016
636  2021-07-06  3405.47  3405.28  3406.76  3368.14  29211833.0  sh000016
637  2021-07-07  3384.57  3424.39  3433.73  3382.24  26919459.0  sh000016
638  2021-07-08  3432.89  3373.26  3434.15  3365.53  33862453.0  sh000016
639  2021-07-09  3359.20  3361.59  3373.14  3329.74  31636606.0  sh000016

[640 rows x 7 columns]

In [8]:
df = ts.get_k_data("601318",start = '1988-01-01')

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [10]:
ts.get_today_all()

[Getting data:]##############################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,688981,中芯国际,-2.384,56.91,57.75,58.00,56.69,58.30,30164635,2.75312,1720705501,84.940,4.461,4.496522e+07,6.235361e+06
1,688819,天能股份,1.882,46.55,45.60,47.38,43.56,45.69,9264854,9.16783,421102356,17.500,3.809,4.525126e+06,4.704264e+05
2,688789,宏华数科,4.870,173.56,161.00,175.66,156.11,165.50,5180209,33.54978,869217411,57.853,12.381,1.319056e+06,2.679830e+05
3,688788,科思科技,-1.584,128.63,130.50,131.77,126.64,130.70,687653,3.95069,88334260,43.441,3.379,9.715968e+05,2.238923e+05
4,688777,中控技术,1.737,101.31,100.40,104.44,99.00,99.58,1464888,3.46822,148121662,106.642,12.404,5.005565e+06,4.279075e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4483,600139,ST西源,5.150,2.45,2.38,2.45,2.34,2.33,30124368,4.55126,72634369,-8.080,13.611,1.621632e+05,1.621632e+05
4484,600122,ST宏图,1.316,1.54,1.52,1.55,1.51,1.52,12315145,1.06325,18854077,-0.805,6.068,1.783718e+05,1.783718e+05
4485,600112,*ST天成,0.000,5.01,0.00,0.00,0.00,5.01,0,0.00000,0,-13.050,-34.719,2.551116e+05,2.551116e+05
4486,600093,*ST易见,-5.047,5.08,5.08,5.08,5.08,5.35,128400,0.01144,652272,-0.495,-1.573,5.702033e+05,5.702033e+05
4487,600091,*ST明科,-1.075,2.76,2.76,2.84,2.66,2.79,3635781,0.83120,9862843,-69.000,1.369,1.207259e+05,1.207259e+05