In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib auto

Using matplotlib backend: Qt5Agg

In [2]:
plt.plot([1,2,3,4],[2,3,1,7], color='red', label='Line A') # 折线图
plt.plot([1,2,3,4],[3,5,6,9], color='black', marker='o', label='Line B')
plt.title("Matplotlib Test Plot")
plt.xlabel("Xlabel")
plt.ylabel("Ylabel")
# plt.xlim(0, 10)
# plt.ylim(0, 10)
# plt.xticks(np.arange(0,11,2))
plt.legend()
plt.show()

In [3]:
df = pd.read_csv("601318.csv",parse_dates=['date'], index_col='date')[['open','close','high','low']]
print(df)

              open   close    high     low
date
2007-03-01  21.878  20.473  22.302  20.040
2007-03-02  20.565  20.307  20.758  20.075
2007-03-05  20.119  19.419  20.202  19.047
2007-03-06  19.253  19.800  20.128  19.143
2007-03-07  19.817  20.338  20.522  19.651
...            ...     ...     ...     ...
2017-12-11  71.200  73.250  73.310  70.820
2017-12-12  73.250  71.210  73.560  71.170
2017-12-13  71.210  72.120  72.620  70.200
2017-12-14  72.120  71.010  72.160  70.600
2017-12-15  70.690  70.380  71.440  70.050

[2563 rows x 4 columns]

In [4]:
df.plot()
plt.show()

In [5]:
x = np.linspace(-1000,1000,100000)
y1 = x.copy()
y2 = x ** 2
y3 = x**3+5*x**2+2*x+1
plt.plot(x,y1,color='red',label='y=x')
plt.plot(x,y2, color='green', label='y=x^2')
plt.plot(x, y3, color='blue', label='y=x^3+5x^2+2x+1')
plt.xlim(-1000,1000)
plt.ylim(-1000,1000)
plt.legend()
plt.show()

In [6]:
fig = plt.figure()
ax1 = fig.add_subplot(2,2,1)
ax1.plot([1,2,3,4],[5,6,7,8])
plt.show()

In [7]:
data = [32, 48, 21, 100]
labels = ['Jan','Feb','Mar','Apr']

plt.bar(np.arange(len(data)),data, align='edge')
plt.xticks(np.arange(len(data)), labels)
plt.show()

In [8]:
plt.pie([10,20,30,40], labels=['a','b','c','d'], autopct="%.2f%%", explode=[0.1,0,0.1,0])
plt.axis('equal')
plt.show()

In [10]:
from mpl_finance import candlestick_ochl
from matplotlib.dates import date2num

C:\ProgramData\Anaconda3\lib\site-packages\mpl_finance.py:16: DeprecationWarning:

  =================================================================

   WARNING: `mpl_finance` is deprecated:

    Please use `mplfinance` instead (no hyphen, no underscore).

    To install: `pip install --upgrade mplfinance`

   For more information, see: https://pypi.org/project/mplfinance/

  =================================================================

  __warnings.warn('\n\n  ================================================================='+

In [11]:
df['time'] = date2num(df.index.to_pydatetime())
df

              open   close    high     low     time
date
2007-03-01  21.878  20.473  22.302  20.040  13573.0
2007-03-02  20.565  20.307  20.758  20.075  13574.0
2007-03-05  20.119  19.419  20.202  19.047  13577.0
2007-03-06  19.253  19.800  20.128  19.143  13578.0
2007-03-07  19.817  20.338  20.522  19.651  13579.0
...            ...     ...     ...     ...      ...
2017-12-11  71.200  73.250  73.310  70.820  17511.0
2017-12-12  73.250  71.210  73.560  71.170  17512.0
2017-12-13  71.210  72.120  72.620  70.200  17513.0
2017-12-14  72.120  71.010  72.160  70.600  17514.0
2017-12-15  70.690  70.380  71.440  70.050  17515.0

[2563 rows x 5 columns]

In [13]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)

arr = df[['time','open','close','high','low']].values

fin.candlestick_ochl(ax, arr)

NameError: name 'time' is not defined

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
arr = df[[time,open,close,high,low]].values
candlestick_ochl(ax,arr)
plt.grid()
plt.show()